RewriteEngine On
RewriteBase /
RewriteCond (?!.*favicon)(?!.*src)^.*$ !-d
RewriteCond (?!.*favicon)(?!.*src)^.*$ !-f
RewriteRule (?!.*favicon)(?!.*src)^.*$ router.php [QSA,L]
RewriteRule (?!.*favicon)(?!.*src)^.*$ router.php?url=$1 [QSA,L]
