<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tomb Raider Classic</title>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <link rel="stylesheet" href="/src/lib/bootstrap-4.4.1-dist/css/bootstrap.min.css">

    <script src="/src/lib/JQuery-3.4.1/JQuery.min.js"></script>
    <script src="/src/lib/bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js"></script>
    <script src="/src/lib/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    <script src="/src/lib/ThreeJS/three.min.js"></script>
    <script src="/src/lib/ThreeJS/OBJLoader.min.js"></script>

  </head>
  <body>
    <style>
      #three_env{
        position:fixed;
      }

      #log{
        z-index: 10000 ;
        position:fixed;
      }

      *{
        overflow: hidden;
      }
    </style>
    <div id="three_env" class="">

    </div>
    <div id="log" >
LOG
    </div>
    <script src="/src/scripts/noise.js" charset="utf-8"></script>
    <script src="/src/scripts/controller.js" charset="utf-8"></script>
    <script src="/src/scripts/tr.js" type="module" charset="utf-8"></script>
    <script src="/src/scripts/terrain.js" type="module" charset="utf-8"></script>

    <script src="/src/scripts/main.js" type="module" charset="utf-8"></script>
  </body>
</html>
